.achievement-section {
  padding: 8vh 10vw;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: cursor;
  font-weight: bold;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 600px) {
  .achievement-section {
    padding: 8vh 0vw;
  }
}
