.skills-card {
  width: 15rem;
  margin: 0 1rem 1rem 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
  transition: 0.5s box-shadow ease-in-out;
}

.skills-card:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .skills-card {
    li {
      margin-left: 2rem;
    }
  }
}
