.profile {
  padding: 0;
  .profile-img {
    width: 20vw;
    border-radius: 50%;
    object-fit: cover;
    padding: 0.15rem;
    border: 3px solid #000000a2;
  }
}

.home-component {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12vw;
}

.home-card {
  display: flex;
  justify-content: space-between;
}

.over-hid {
  overflow: hidden;
}

.content {
  margin: 1rem 0;
  min-width: 30rem;
}

.name {
  font-weight: bold;
  color: #2196f3;
}

.home-info {
  margin-top: 5rem;
  margin-left: 5rem;
}

.coding {
  .logo {
    width: 2.5rem;
    border: thin solid rgba(0, 0, 0, 0.062);
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-size: 40px;
    color: black;
  }
}

@media only screen and (max-width: 600px) {
  .home-component {
    margin: 0 5vw;
  }

  .home-card {
    display: block;
  }

  .profile {
    display: flex;
    justify-content: center;
    .profile-img {
      width: 50vw;
      padding: 0.25rem;
    }
  }

  .home-info {
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .content {
    margin: 1rem 0;
    min-width: 0rem;
    h3 {
      font-size: large;
    }
  }

  .name-intro {
    font-size: 24px;
  }
}
