.p-0{
  padding: 0 !important;
}

.col-black:hover{
  color: black !important;
}

.footbar{
  display: flex;
}

@media only screen and (max-width: 600px) {
  #contact {
    justify-content: center;
    .navbar-brand {
      margin: 0 !important;
    }
  }
}
